<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  </head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="usertype">User Type:</label><br>
            <input type="radio" id="patient" name="usertype" value="patient" required>
            <label for="patient">Patient</label>
            <input type="radio" id="doctor" name="usertype" value="doctor" required>
            <label for="doctor">Doctor</label><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
